!pip install tensorflow==2.10.0 # Install a compatible TensorFlow version 
!pip install opencv-python matplotlib
!pip install "keras<2.11,>=2.4.3" # Install a compatible Keras version
!pip install git+https://github.com/Kowalskii1/Rover_Mask_RCNN.git